.registrationDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100vw;

    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 100px;

}
.registrationParagraph{
text-align: center;
}
