.paragraph-block-section{
    width: 80vw;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    line-height: 25px;
}

.paragraph-block-title{
    margin-bottom: 8vh;
    font-size: 2.5rem;
    color: #222F5D;
    text-align: center;
}

.paragraph-block-content{
    color: #333333;
    font-family: "Futura BdCn BT";
}

.paragraph-block-picture{
    margin-top: 4vh;
    height: 75vh;
    max-height: calc(80vw*0.9);
}
.paragraph-block-picture img{
    height: 100%;
    width: 100%;
}