.about-syp-section{
    width: 80vw;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    text-align: center;
    line-height: 25px;
}

.about-syp-section-title{
    margin-bottom: 8vh;
    font-size: 2.5rem;
    color: #222F5D;
}

.about-syp-section-content{
    color: #333333;
    font-family: "Arimo";
}

.about-syp-section-picture{
    margin-top: 4vh;
    height: 75vh;
}
.about-syp-section-picture img{
    height: 100%;
    width: 100%;
}