input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media all 
and (max-width : 768px) {
  .MainActivityNavBarItems input[type="radio"]:checked+label{
    font-size: 1.2em;
    text-shadow: white 0 0 2px;
}
.MainActivityNavBarItems{
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 0 100%;
  justify-items: center;
  align-items: center;
  color: white;
  font-size: 1.1em;
}
.MainActivityNavBar{
  background-color: grey;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 50px;
  overflow: hidden;
  width: 100%;
  justify-content: space-around;
  background: radial-gradient(196.77% 386.32% at 11.46% -96.77%, #B03842 0%, #CB8B4E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.selectedItem{
  background-color: #ffffff15;
}

}