input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}
.MainActivityNavBarItems input[type="radio"]:checked+label{
    font-size: 1.5em;
}
.MainActivityNavBarItems{
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 0 100%;
  justify-items: center;
  align-items: center;
}
.MainActivityNavBar{
  background-color: grey;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 50px;
  overflow: hidden;
  width: 100%;
  justify-content: space-around;
}