.MainActivities{

}
.MainActivityNavBarContainer{
    z-index: 300;
    
}
.mainContainer{
    margin: -2px auto;
    width: 65%;
    height: 80vh;
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    border: 3px solid #CB8B4E;
    border-radius: 36px;
    z-index: 2;
    overflow: hidden;
    
    background-repeat: no-repeat;
    background-size: contain;
}
.listContainer{
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    width: 30%;
    overflow-x: hidden;
    background: linear-gradient(180deg, #B03842 0%, #CB8B4E 100%);
    padding: 10px;
}
.pageContainer{
    overflow-y: scroll;
    height: 100%;
    width: 70%;
}