.twoElmContainer{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: max(14vh, 90px);
}

.blockElement{
    width: 45%;
}