.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Futura;
    margin-bottom: 100px;
}

.testimonials-container h4 {
    color: #80B3E8;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
}

.testimonials-container h2 {
    margin-top: 10px;
    margin-bottom: 40px;
    color: #333333;
    font-weight: 500;
    font-size: 56px;
}


.testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: all 0.3s linear;

}

.testimonial-image-container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    position: relative;
    overflow-wrap: normal;
}

.testimonial-image-container .main-image {
    padding-left: 50px;
    padding-right: 50px;
    z-index: 2;
    width: 380px;
    height: 480px;
    object-fit: cover;
}

.testimonial-image-container .orange-circle {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: 1;
    height: 50%;
}

.testimonial-image-container .blue-circle {
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: 1;
    height: 50%;
}

.testimonial-text-container {
    width: 40%;
    display: flex;
    flex-direction: column;

}

.testimonial-text-container .description {
    margin-bottom: 60px;
    font-size: 24px;
}

.testimonial-text-container .name {

    font-size: 20px;
}

.testimonial-text-container .role {
    font-family: Futura;
    font-weight: 500;
    font-size: 20px;
    color: rgba(51, 51, 51, 0.5);
}

.section-center {
    margin-top: 4rem;
    width: 80vw;
    height: 450px;
    position: relative;
}

.testimonial.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

.testimonial.lastSlide {
    transform: translateX(-100%);
}

.testimonial.nextSlide {
    transform: translateX(100%);
}

.buttons {
    margin-right: 16px;
}

.prev,
.next {
    position: absolute;
    bottom: 100px;
    width: 48px;
    height: 45px;
    border-color: transparent;
    border-radius: 100px;
    cursor: pointer;

}

.prev:hover,
.next:hover {
    background: hsl(21, 62%, 45%);
}

.prev {
    left: 45%;
    background: #F0F2F6;
}

.next {
    background: #CB8B4E;
    right: 45%;
}

@media screen and (max-width: 480px) {
    .testimonials-container h2 {
        font-size: 40px;
    }
}