.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Futura;
}

.testimonials-container h4 {
    color: #80B3E8;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
}

.testimonials-container h2 {
    margin-top: 10px;
    margin-bottom: 40px;
    color: #333333;
    font-weight: 500;
    font-size: 56px;
}

@media screen and (max-width: 480px) {
    .testimonials-container h2 {
        font-size: 40px;
    }
}

.testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;

}
.testimonial-image-container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    position: relative;
    overflow-wrap: normal;
}

.testimonial-image-container .main-image {
    height: 50vh;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 2;
}
.testimonial-image-container .orange-circle {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: 1;
    height: 50%;
}
.testimonial-image-container .blue-circle {
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: 1;
    height: 50%;
}
.testimonial-text-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.testimonial-text-container .description {
    margin-bottom: 60px;
}
.testimonial-text-container .role {
    font-family: Futura;
    font-weight: 500;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.5);
}
.section {
    width: 90vw;
    margin: 5rem auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section {
        width: 95vw;
    }
}

.icon {
    font-size: 3rem;
    color: hsl(21, 62%, 45%);
}

.section-center {
    margin: 0 auto;
    margin-top: 4rem;
    width: 80vw;
    height: 450px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}
article.lastSlide {
    transform: translateX(-100%);
}
article.nextSlide {
    transform: translateX(100%);
}

.person-img {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid hsl(210, 31%, 80%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

article h4 {
    text-transform: uppercase;
    color: hsl(21, 62%, 45%);
    margin-bottom: 0.25rem;
}
.title {
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    color: hsl(209, 34%, 30%);
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}
.title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.text {
    max-width: 35em;
    margin: 0 auto;
    margin-top: 2rem;
    line-height: 2;
    color: hsl(210, 22%, 49%);
}

.prev,
.next {
    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    background: hsl(210, 22%, 49%);
    color: #fff;
    width: 1.25rem;
    height: 1.25rem;
    display: grid;
    place-items: center;
    border-color: transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s linear;
}
.prev:hover,
.next:hover {
    background: hsl(21, 62%, 45%);
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
@media (min-width: 800px) {
    .text {
        max-width: 45em;
    }
    .prev,
    .next {
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
    }
}