.registrationOffer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}

.registrationOffer > h1 {
    color: #333;
    font-family: Futura BdCn BT;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;

}

.offersCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 100px;
}

@media screen  and (max-width: 500px) {
    .registrationOffer > h1 {
        font-size: 35px;
    }

}